html{
  background-color: #d8dee0;
}
.Home{
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  background-image: url(./assets/123.gif);
  background-position: center;
  transform: translateY(-14px);
}

.Home h1, h3 {
  font-size: 3vh;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.Home h1 {

}

.Home h3 {
  bottom: 11vh;
}

.Home span {
  background-color: rgba(255, 255, 255, 0.726);
}

.twilogo, .instalogo {
  height: 5vh;
  transition-duration: 0.4s;
}

.twilogo:hover, .instalogo:hover{
  transform: scale(1.2);
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  background-color: #e0e0e09d;
  padding: 2vh 10vw;
}


.SetupDetails {
  color: #3b5f62;
  text-align: center;
  background-color: #d8dee0;
}

.Setupimage {
  filter: saturate(90%);
  cursor: pointer;
  width: 100%;
  transition-duration: 0.4s;
}

.Setupimage:hover {
  filter: saturate(100%);
  transform: matrix(1.02, 0, 0, 1.02, 0, -5);
  box-shadow:0 15px 30px #afbec2;
  transition-duration: 0.4s;
}

@media screen and (min-width: 1700px) {
  .Setupimage{
    filter: saturate(30%);
    width: 1600px;
  }
}

.tabs {
  transition-duration: 0.5s;
}

.tabs:hover{
  transform: translateY(-5px);
  transition-duration: 0.4s;
}

.itemname {
  text-align: center;
}

.list a {
  color: #5a8e92;
  float: right;
}

.list a:hover {
  color: rgb(255, 174, 43);
}
